body, li, h1, img, ul, p, section, div, article, h2, a, input, span, figure{
  padding: 0;
  margin: 0;
  outline: none;  
}

body{
  font-family: 'Roboto', sans-serif;
}

.corpo{
  background-color: #d8d8d8; 
}

.corpoDark{
  background-color: #FFE5B4; 
}

.cabecalho-dark{
  background-color: #0c0c0c;
  /* padding: 12px; */
}

.container-dark{
  background-color: #0c0c0c;
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  border-bottom: 50px #FFE5B4 solid;
}

/* CABECALHO */
.nav-cabecalho ul{
  list-style: none;
}

.cabecalho{
  background-color: #1F4690;
  /* padding: 12px; */
}

.container-cabecalho{
  display: grid;
  padding: 12px;
  grid-template-columns: 238px 85px 1fr 85px 238px
}

.nav-cabecalho{
  grid-column: 2 / 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-cabecalho{
  color: #FFE5B4;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.lista-cabecalho{
  display: flex;
}

.lista-cabecalho .aba-clicavel{
  margin-right: 10px;
  color: #FFE5B4;
  font-weight: 400;
  text-decoration: none;
  font-size: 12px;
}

.aba-clicavel-2 {
  color:black;
  margin-right: 10px;
  font-weight: 400;
  text-decoration: none;
  font-size: 12px;
}

.button{
  border: 1px solid #FFE5B4;
  background-color: #FFE5B4;
  border-radius: 10px;
  padding: 8px;
}

.botao-juntar{
  background-color: #FFE5B4;
  display: inline-block;
  justify-content: center;
  padding: 10px;
}

a:hover, .titulo-cabecalho:hover{
  color: #FFA500;
}

.button:active, .button:hover{
  color: #FFA500;
  border: 1px solid #FFA500;
}

.aba-pesquisa{
  border: solid 1px #FFE5B4 ;
  display: flex;
  padding: 2px;
}

.aba-pesquisa input::placeholder{
  font-size: 12px;
}

.barra-pesquisa{
  padding-right: 4px;
  padding-left: 4px;
  border: none;
  display: flex;
}

.lupa-pesquisa{
  color: black;
  cursor: pointer;
  display: flex;
  background-color: #FFE5B4;
}

/* MAIN */
.container-wallpaper{
  background-color: #1F4690;
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  border-bottom: 50px #FFE5B4 solid;
}

.wallpaper{
  grid-column: 2 / 5;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.textos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-wallpaper{
  /* width: 545px; */
  font-weight: 700;
  color: #FFE5B4;
  font-size: 35px;
  padding: 0 5px;
  margin-bottom: 7px;
}

.texto-wallpaper{
  color: white;
  text-align: justify;
  margin-bottom: 14px;
}

.botoes{
  display: flex;
  column-gap: 15px;
}

.link{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.botao-fale, .botao-junte{
  border-radius: 5px;
  background-color: #FFE5B4;
  padding: 10px;
}

.botao-fale:hover, .botao-junte:hover{
  border: 1px solid #FFA500;
}

.borda{
  background-color: #FFA500;
  height: 150px;
}

.smartphone{
  width: 200px;
  position: relative;
  top: 40px;
}

.conteudo-principal-primario{
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  text-align: center;
  background-color: #d8d8d8;
  /* margin-top: 3em; */
}

.conteudo-principal-primario-dark{
  background-color: #FFE5B4;
  color: black;
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  text-align: center;
}

.textos-principais-primarios{
  grid-column: 3 / 4;
  margin-top: 3em;
}

.titulo-principal{
  color: black;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.textos{
  font-size: 15px;
  margin-top: 15px;
  text-align: none;
  color: #000000;
}

.textos .texto{
  text-align: justify;
}

.tres-imagens{
  display: flex;
  margin-top: 40px;
  column-gap: 15px;
}

.imagem-joinha{
  margin-bottom: 12px;
}

.imagem-joinha, .imagem-monitor, .imagem-engrenagens{
  width: 70px;
}

.titulo{
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 400;
}

.paragrafo-imagem{
  font-size: 12px;
}

.conteudo-principal-secundario{
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  background-color: #d8d8d8;
}

.conteudo-principal-secundario-dark{
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  background-color: #FFE5B4;
}

.conteudo-mobile{
  grid-column: 3 / 4;
  display: flex;
}

.titulo-dispositivos{
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  margin-top: 3rem;
}

.text-mobile{
  display: flex;
  color: black;
  margin-top: 15px;
  text-align: justify;
  justify-content: center;
}

.barra-texto::before{
  content: '';
  height: 66px;
  width: 15px;
  box-sizing: border-box;
  margin-right: 10px;
  background: #FFA500;
  display: inline-block;
}

.barra-texto-escuro::before{
  content: '';
  height: 66px;
  width: 15px;
  box-sizing: border-box;
  margin-right: 10px;
  background: #FFA500;
  display: inline-block;
}

.telefone{
  width: 140px;
  position: relative;
  top: 30px;
  margin-left: 5px;
}

.conteudo-principal-final{
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  background-color: #1F4690;
  margin-top: 29px;
}

.conteudo-principal-final-escuro{
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  background-color: #0c0c0c;
  margin-top: 29px;
}

.textos-finais{
  grid-column: 3 / 4;
  text-align: center;
  /* height: 110px; */
  display: flex;
  padding: 25px;
  flex-direction: column;
}

.titulo-final{
  font-weight: 700;
  color: #FFE5B4;
  text-transform: uppercase;
  /* padding-top: 24px; */
  /* margin-top: 25px; */
  /* margin-bottom: 15px; */
}

.botao-secFinal{
  margin-top: 10px;
}

.botao-clique{
  border-radius: 5px;
  background-color: #FFE5B4;
  padding: 10px;
  text-decoration: none;
  color: #0c0c0c;
}

.botao-clique:hover{
  border: 1px solid #FFA500;
}

.textos-equipe{
  display: flex;
  justify-content: center;
  margin-top: 45px;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.titulo-equipe{
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.texto-equipe{
  text-align: justify;
  padding-left: 15rem;
  padding-right: 15rem;
  color: black;
}

.container-equipe{
  display: flex;
  justify-content: center;
  margin-top: 24px;
  column-gap: 25PX;
  padding-bottom: 75px;
}

.funcionario-primario{
  padding: 10px;
  box-shadow:  2px 2px 5px;
  background-color:#1F4690;
} 

.funcionario-primario-dark{
  padding: 10px;
  box-shadow: 2px 2px 5px;
  background-color: #0c0c0c;
}

.foto-funcionario{
  background-size: contain;
  display: inline-block;
  width: 160px;
}

.nome-funcionario{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.descricao-funcionario{
  width: 160px;
  text-align: justify;
  padding: 2px;
  color: #FFE5B4;
}

.titulo-nome{
  font-weight: 700;
  text-align: center;
  color: #FFE5B4;
  margin-top: 5px;
}

.footer-bg{
  background-color: #1F4690;
  /* background-color: #d8d8d8; */
  text-align: center;
}

.footer-bg-dark{
  background-color: #0c0c0c;
  /* background-color: #d8d8d8; */
  text-align: center;
}

.titulo-footer{
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 45px;
  font-size: 14px;
  color: #FFE5B4;
}

.titulo-footer-dark{
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 45px;
  font-size: 14px;
  color: #FFE5B4;
}

.menu{
  display: none;
}

@keyframes modal-conteudo{
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal-container{
  animation: modal-conteudo .3s;
}

.fechar {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #FFE5B4;
  background-color: #FFE5B4;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, .3);
}

.modal-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0, .5);
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.lupa-pesquisa-mobile, .barra-pesquisa-mobile{
  display: none;
}

.titulo-sobreNos{
  font-weight: 700;
  text-transform: uppercase;
  color: #0c0c0c;
}

.conteudo-modal{
  color: #0c0c0c;
}

.modal-container.mostrar{
  display: flex;
}

.modal-conteudo{
  background-color: white;
  /* width: 60%; */
  min-width: 300px;
  padding: 40px;
  /* border: 10px solid #1F4690; */
  box-shadow: 0 0 0 10px #FFE5B4;
  position: relative;
}

.lista-cabecalho-mobile li:hover{
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
}
.menuCabecalho, .menuCabecalho-dark{
  display: none;
}
.modal-container-mobile{
  display: none;
}


@media (max-width: 1080px){
  .modal-container.mostrar{
    display: flex;
  }
  .modal-conteudo {
    background-color: white;
    /* width: 60%; */
    min-width: 240px;
    padding: 40px;
    /* border: 10px solid #1F4690; */
    box-shadow: 0 0 0 10px #ffe5b4;
    position: relative;
}
  .modal-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, .5);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .container-cabecalho{
    display: flex;
    justify-content: space-between;
  }
  .menu{
    display: block;
    color: black;;
    cursor: pointer;
    color: #FFE5B4;
  }
  .menuCabecalho{
    display: block;
    /* display: block; */
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0px;
    background-color: #1F4690;
    height: 0px;
    transition: .6s;
    z-index: 10000;
    visibility: hidden;
    overflow-y: hidden;
  }
  .menuCabecalho-dark{
    display: block;
    /* display: block; */
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0px;
    background-color: #0c0c0c;
    height: 0px;
    transition: .6s;
    z-index: 10000;
    visibility: hidden;
    overflow-y: hidden;
  }
  .nav-ativada{
    /* display: block; */
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  .lista-cabecalho-mobile li{
    padding: 1rem 0;
    list-style: none;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
  }
  .link-clicavel{
    text-decoration: none;
    color: #FFE5B4;
    /* color: black; */
  }
  .lista-cabecalho-mobile-dark .aba-clicavel{
    text-decoration: none;
    color: #FFE5B4;
    /* color: black; */
  }
  .container-dark{
    background-color: #0c0c0c;
    display: flex;
    border-bottom: 50px #0c0c0c solid;
  }
  .conteudo-principal-primario-dark{
    background-color: #FFE5B4;
    color: black;
    display: flex;
    text-align: center;
  }
  .conteudo-principal-secundario-dark{
    display: flex;
    background-color: #FFE5B4;
  }
  .conteudo-principal-final-escuro{
    display: flex;
    justify-content: center;
    background-color: #0c0c0c;
    margin-top: 29px;
  }
  .titulo-dispositivos{
    margin-top: 1rem;
  }
  .barra-texto-escuro::before{
    content: none;
  }
  .barra-pesquisa{
    display: none;
  }
  .barra-pesquisa-mobile{
    display: flex;
    border: none;
    font-size: 12px;
    padding: 0 15px;
  }
  .barra-ativada{
    top: 45px;
  }
  .lupa-pesquisa{
    border: none;
    background-color: transparent;
  }
  .aba-pesquisa {
    padding: 0px;
    border: black;
  }
  .lista-cabecalho{
    display: none;
  }
  .lupa-pesquisa{
    display: none;
  }
  .lupa-pesquisa-mobile{
    display: flex;
    color: black;
    cursor: pointer;
    background-color: #FFE5B4;
  }
  .container-wallpaper{
    display: flex;
    border-bottom: 50px #1F4690 solid;
  }
  .image-wallpaper img{
    display: none;
  }
  .texto-wallpaper{
    text-align: justify;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .titulo-wallpaper{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .botoes{
    justify-content: center;
  }
  .conteudo-principal-primario{
    display: flex;
  }
  .tres-imagens{
    display: flex;
    flex-direction: column;
  }
  .container-textos{
    margin-bottom: 20px;
  }
  .paragrafo-imagem{
    font-size: 12px;
    width: 220px;
    margin: 0 auto;
  }
  .conteudo-principal-secundario{
    display: flex;
  }
  .telefone{
    display: none;
  }
  .titulo-dispositivos{
    display: flex;
    justify-content: center;
  }
  .text-mobile{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
  }
  .barra-texto::before{
    content: none;
  }
  .titulo-principal{
    font-size: 18px;
  }
  .texto{
    font-size: 14px;
    display: flex;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
  }
  .conteudo-principal-final{
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  .textos-finais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titulo-final{
    text-align: center;
    padding-top: 0;
  }
  .botao-secFinal{
    margin-top: 2px;
  }
  .textos-equipe{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulo-equipe{
    text-align: center;
    font-size: 18px;
  }
  .texto-equipe{
    padding: 0 15px;
  }
  .container-equipe{
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .cabecalho{
    padding: 0;
  }
  .container-cabecalho{
    padding: 15px;
    padding-bottom: 0;
  }
  .aba-pesquisa-mobile{
    padding: 1rem 0;
    /* border: solid 1px #FFE5B4; */
    display: flex;
    padding: 2px;
  }
  .cor-amarela{
    color: #FFE5B4;
  }
  .cor-preta{
    color: #000000;
  }
}