body, li, h1, img, ul, p, section, div, article, h2, a, input, span, figure{
  padding: 0;
  margin: 0;
  outline: none;  
}

body{
  font-family: 'Roboto', sans-serif;
}

.corpo{
  background-color: #d8d8d8; 
}

.corpoDark{
  background-color: #FFE5B4; 
}

.cabecalho-dark{
  background-color: #0c0c0c;
  padding: 12px;
}

.container-dark{
  background-color: #0c0c0c;
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  border-bottom: 50px #FFE5B4 solid;
}

/* CABECALHO */
.nav-cabecalho ul{
  list-style: none;
}

.cabecalho{
  background-color: #1F4690;
  padding: 12px;
}

.container-cabecalho{
  display: grid;
  grid-template-columns: 238px 85px 1fr 85px 238px
}

.nav-cabecalho{
  grid-column: 2 / 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-cabecalho{
  color: #FFE5B4;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.lista-cabecalho{
  display: flex;
}

.lista-cabecalho .aba-clicavel{
  margin-right: 10px;
  color: #FFE5B4;
  font-weight: 400;
  text-decoration: none;
  font-size: 12px;
}

.aba-clicavel-2 {
  color:black;
  margin-right: 10px;
  font-weight: 400;
  text-decoration: none;
  font-size: 12px;
}

.button{
  border: 1px solid #FFE5B4;
  background-color: #FFE5B4;
  border-radius: 10px;
  padding: 8px;
}

a:hover, .titulo-cabecalho:hover{
  color: #FFA500;
}

.button:active, .button:hover{
  color: #FFA500;
  border: 1px solid #FFA500;
}

.aba-pesquisa{
  border: solid 1px #FFE5B4 ;
  display: flex;
  padding: 2px;
}

.aba-pesquisa input::placeholder{
  font-size: 12px;
}

.barra-pesquisa{
  padding-right: 4px;
  padding-left: 4px;
  border: none;
}

.lupa-pesquisa{
  color: black;
  cursor: pointer;
  background-color: #FFE5B4;
}

/* MAIN */
.container-wallpaper{
  background-color: #1F4690;
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  border-bottom: 50px #FFE5B4 solid;
}

.wallpaper{
  grid-column: 2 / 5;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.textos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-wallpaper{
  /* width: 545px; */
  font-weight: 700;
  color: #FFE5B4;
  font-size: 35px;
  margin-bottom: 7px;
}

.texto-wallpaper{
  color: white;
  margin-bottom: 14px;
}

.botoes{
  display: flex;
  column-gap: 15px;
}

.link{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.botao-fale, .botao-junte{
  border-radius: 5px;
  background-color: #FFE5B4;
  padding: 10px;
}

.botao-fale:hover, .botao-junte:hover{
  border: 1px solid #FFA500;
}

.borda{
  background-color: #FFA500;
  height: 150px;
}

.smartphone{
  width: 200px;
  position: relative;
  top: 40px;
}

.conteudo-principal-primario{
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  text-align: center;
  background-color: #d8d8d8;
  /* margin-top: 3em; */
}

.conteudo-principal-primario-dark{
  background-color: #FFE5B4;
  color: black;
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  text-align: center;

}

.textos-principais-primarios{
  grid-column: 3 / 4;
  margin-top: 3em;
}

.titulo-principal{
  color: black;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.textos{
  font-size: 15px;
  margin-top: 15px;
  text-align: none;
  color: #000000;
}

.tres-imagens{
  display: flex;
  margin-top: 40px;
  column-gap: 15px;
}

.imagem-joinha{
  margin-bottom: 12px;
}

.imagem-joinha, .imagem-monitor, .imagem-engrenagens{
  width: 70px;
}

.titulo{
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 400;
}

.paragrafo-imagem{
  font-size: 12px;
}

.conteudo-principal-secundario{
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  background-color: #d8d8d8;
}

.conteudo-principal-secundario-dark{
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  background-color: #FFE5B4;
}

.conteudo-mobile{
  grid-column: 3 / 4;
  display: flex;
}

.titulo-dispositivos{
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  margin-top: 3rem;
}

.text-mobile{
  display: flex;
  color: black;
  margin-top: 15px;
  justify-content: center;
}

.barra-texto::before{
  content: '';
  height: 66px;
  width: 15px;
  box-sizing: border-box;
  margin-right: 10px;
  background: #FFA500;
  display: inline-block;
}

.barra-texto-escuro::before{
  content: '';
  height: 66px;
  width: 15px;
  box-sizing: border-box;
  margin-right: 10px;
  background: #FFA500;
  display: inline-block;
}

.telefone{
  width: 140px;
  position: relative;
  top: 30px;
  margin-left: 5px;
}

.conteudo-principal-final{
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  background-color: #1F4690;
  margin-top: 29px;
}

.conteudo-principal-final-escuro{
  grid-template-columns: 250px 85px 1fr 85px 250px;
  display: grid;
  background-color: #0c0c0c;
  margin-top: 29px;
}

.textos-finais{
  grid-column: 3 / 4;
  text-align: center;
  height: 110px;
}

.titulo-final{
  font-weight: 700;
  color: #FFE5B4;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 15px;
}




@keyframes modal-conteudo{
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal-container{
  animation: modal-conteudo .3s;
}

.fechar {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #FFE5B4;
  background-color: #FFE5B4;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, .3);
}

.modal-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0, .5);
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}


.titulo-sobreNos{
  font-weight: 700;
  text-transform: uppercase;
  color: #0c0c0c;
}

.conteudo-modal{
  color: #0c0c0c;
}

.modal-container.mostrar{
  display: flex;
}


.modal-conteudo{
  background-color: white;
  /* width: 60%; */
  min-width: 300px;
  padding: 40px;
  /* border: 10px solid #1F4690; */
  box-shadow: 0 0 0 10px #FFE5B4;
  position: relative;
}
